button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #0f0f0f;
    border-radius: 0;
    background: #0f0f0f;
    color: #fff;
    font-size: 12px;
    font-size: 16px;
    line-height: 34px;
	padding: 0 10px;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: #fff;
		color: #0f0f0f;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
