p {
	margin-bottom: 1.5em;
	font-family: $font__main;
	font-style: normal;
	font-weight: 400;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 15px;
    line-height: 1.66em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.kicker {
    letter-spacing: clamp(0.0938rem, 0.0553rem + 0.1923vw, 0.1875rem); // 3px to 1.5px
    text-transform: uppercase;
	font-size: clamp(0.8125rem, 0.7612rem + 0.2564vw, 0.9375rem); // 15px at 1100px to 13px at 320px
}