.main-navigation {

	width: 100%;
	position: fixed;
padding: 35px;
background: $bg__lightdark;
	z-index: 9;
	ul {
		justify-content: space-between;
		display: flex;
	}

	a {
		display: block;
		text-decoration: none;
		position: relative;
		&:before, &:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 0px;
			height: 1px;
			margin: 0;
			transition: all 0.3s ease-in-out;
			opacity: 0;
			background-color: $color__lightdark;
		  }
		  &:before {
			left: 50%;
		  }
		  &:after {
			right: 50%;
		  }
		  &:hover {
			&:before,
			&:after {
			  width: 50%;
			  opacity: 1;
			}
		  }
	}


}

