.main-navigation {
	clear: both;
	display: flex;
	float: none;
	width: 100%;
	position: fixed;
padding: 35px;
background: #fff;
	z-index: 9;

	a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 15px;
		line-height: 25px;
		letter-spacing: 3px;
		color: #0f0f0f;
		&:before, &:after {
			content: "";
			position: absolute;
			bottom: 0;
			width: 0px;
			height: 1px;
			margin: 0;
			transition: all 0.3s ease-in-out;
			opacity: 0;
			background-color: darken(#0f0f0f,5%);
		  }
		  &:before {
			left: 50%;
		  }
		  &:after {
			right: 50%;
		  }
	}
	&:hover {
        &:before,
        &:after {
          width: 50%;
          opacity: 1;
        }
      }
	.menu-link.work {
		align-self: flex-start;
		margin: auto;
		margin-left: 0;
	}
	.menu-link.about {
		align-self: flex-end;
		margin: auto;
		margin-right: 0;
	}

}

.menu-toggle {
	display: none;
}
.main-navigation ul {
	display: block;
}