.error404 {
  .site-content {
    padding: 40px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    min-height: calc(100vh - 454px);
    display: flex;

      #primary {
        margin: auto;
    align-self: center;
      }
  }
  p {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
  }
}