.error404 {
  .site-content {
    padding: 40px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
    min-height: calc(100vh - 454px);
    display: flex;

      #primary {
        margin: auto;
    align-self: center;
      }
  }
  p {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 25px;
    a {
      text-decoration: none;
      position: relative;
      &:before, &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 0px;
        height: 5px;
        margin: 5px 0 0;
        transition: all 0.2s ease-in-out;
        transition-duration: 0.75s;
        opacity: 0;
        background-color: darken(#0f0f0f,5%);
      }
       
        &:before {
          left: 50%;
        }
        &:after {
          right: 50%;
        }
      &:hover {
        &:before,
        &:after {
          width: 50%;
          opacity: 1;
        }
      }
    }
  }
  .search-form {
    margin-bottom: 25px;

  }
}