.error404 {
  .site-content {
    padding: 40px;
    padding-top: 80px;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
  }
}