.about-section.open {
transform: translateX(0);
transition: all 0.5s ease;
}

.about-section {
  position: fixed;
  transform: translatex(101%);
  transition: all 0.5s ease;
  right: 0;
  top: 0;
  background: #0f0f0f;
  width: 30%;
  min-width: 400px;
  max-width: 450px;
  min-height: 100vh;
  color: #fff;
  padding: 45px;
  z-index: 999;
  .about-title {
    font-size: 37px;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .about-arrow {
    text-align: center;
  }
  .about-subtitle, a.email-address {
    font-family: roc-grotesk, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  a.email-address {
    text-decoration: none;
  }
  p {
    font-size: 15px;
    line-height: 25px;
  }
  .close {
    text-align: right;
  }
}