.about-section.open {
transform: translateX(0);
opacity: 1;
transition: all 0.5s ease;
}

.about-eye .pupil {
  background-color: white;
  right: calc(50% - 9px);
  bottom: 0;
}

.about-section {
  opacity: 0;
  position: fixed;
  transform: translatex(101%);
  transition: all 0.5s ease;
  right: 0;
  top: 0;
  background: #0f0f0f;
  width: 34%;
  min-width: 420px;
  max-width: 450px;
  min-height: 100vh;
  color: #fff;
  padding: 45px;
  z-index: 999;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  .about-content {
    margin: auto;
  }
  .about-title {
    font-size: 37px;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .about-subtitle {
    max-width: 300px;
    margin: auto;
  }

  .about-arrow {
    text-align: center;
  }
  .about-subtitle, a.email-address {
    font-family: roc-grotesk, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  a.email-address {
    text-decoration: none;
  }
  .about-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p {
    font-size: 15px;
    line-height: 25px;
  }
  .close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .about-subtitle.final {
    margin-top: 0;
    margin-bottom: 10px;
  }
  a.email-address {
    margin-top: 10px;
    display: block;
  }
}

.page-offering {
  text-align: center;
}
