#colophon {
  background: #0F0F0F;
  padding: 40px;
  padding-top: $space__l; // 80 to 40
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }

  .header.m  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .about-subtitle {
margin-bottom: $space__m; // 60 to 40
  }
  .get-in-touch img {
    margin-left: 15px;
    margin-right: 15px;
  }
  .credits a {
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: all 0.3s ease;
    &:focus-visible, &:hover {
      text-underline-offset: 3px;
    }
  }
  .email-address {
    text-decoration: none;
  }
  p {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    text-wrap-style: pretty;
    margin-top: 0;
  }
  .credits {
    margin-top: $space__m; // 60px to 40px
    p {
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 1em;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}