/*--eye styling--*/ 
.above-fold {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 40px;

    h1 {
      font-size: 65px;
      line-height: 76px;
      text-transform: uppercase;
    }
    h2, p {
      font-family: $font__main;
      font-size: 15px;
      letter-spacing: 3px;
      line-height: 25px;
      text-transform: uppercase;
    }
    p {
      align-self: flex-end;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0;
    }
    .central-content {
      align-self: center;
      margin: auto;
    }
}

/*--
.lid {
  width: 50px;
  height: 50px;
  left: -7.5px;
  top: 0;
position: absolute;
content: " ";
background: #000;
transform: rotate(45deg);

}
--*/



#stickThis {

  margin: auto;
  width: 400px;
}

#stickThis.stick {
  position: fixed;
  top: 40px;
  margin: auto;
  margin-top: 0;
  z-index: 9999;
}




.eye-wrapper {
  position: relative;
  width: 51px;
  height: 36px;
  margin: 0 auto;
  overflow: hidden;
}

.eye-background {
  position: absolute;
  top: 0;
  left: 0;
    width: 50px;
  height: 35px;
}

.eye {
  position: absolute;
  width: 35px;
  left: 7.5px;
  height: 35px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: visible;
}

.pupil {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  -webkit-transition: all .05s linear;
  transition: all .05s linear;
  -webkit-transform: translateY(50px) translateX(50px);
          transform: translateY(50px) translateX(50px);
}

.lid {
  left: -7.5px;
  width: 50px;
  position: absolute;
    transform: translateY(-101%);
}

.lid-inner {
  width: 50px;
    height: 35px;
    display: block;
}
  

#work {
  text-align: center;
  padding: 80px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .projects {
    align-self: center;
    margin: auto;
  }
  .project {
    position: relative;
    z-index: 0;
    margin-bottom: 5px;
  }
  h4 {
    font-size: 65px;
    line-height: 76px;
    margin: 0;
    text-transform: uppercase;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 50%, #0f0f0f 50%, #0f0f0f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 50%,#0f0f0f 50%,#0f0f0f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#ffffff 50%,#0f0f0f 50%,#0f0f0f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0f0f0f',GradientType=1 ); /* IE6-9 */
background-size: 201%;
background-position: right;
-webkit-background-clip: text;   
background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #0f0f0f; 
z-index: 3;
position: relative;
display: block;
transition: all ease-out .2s;
transition-delay: .15s;  
  }
    a {
      display: inline-block;
      position: relative;
      text-decoration: none;
    }
    
  
  .project-image {
    max-width: 250px;
    position: absolute;
    right: -235px;
    top: calc(-50% - 5px);
    z-index: 0;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      transform: translatex(-100%);
      transition: all ease-out .2s;
      transition-delay: 0s;
    }
    .screenshot {
      border: 2px solid #d6d6d6;
      border-top: none;
    }
}
.project.hover {
  z-index: 1;
}
a:hover {
  h4 {
  background-position: left;
font-style: oblique;
transition-delay: 0s;

  }
  .project-image img {
    transform: translatex(0);
    transition-delay: .15s;
  }
}
}
  
  